
<html>

  <head>
    <title>Login Form With GO</title>
  </head>

  <body>
   <div  class="div1">
    <div align="center"><h1 class="title">Login Form</h1></div><br>
    <label class="user">Username:</label><br>
    <input placeholder="Username" class="userInput" type="text"><br><br>
    <label  class="pass">Password:</label><br>
    <input placeholder="Password" class="passInput" type="password">
    <br><br> <br>
   <div >
    <button class="btn">Login</button>
   </div>
   </div>
   
  </body>
       <meta charset="UTF-8">
         <link rel="stylesheet" href="/static/stylesheets/style.css">
</html>